---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="LaTa | Lagu Kita" description="Lagu Kita">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="LaTa | Lagu Kita"
        tagline="Jadi dibawah ini merupakan karya dari program nyenja kami yaitu lagu yang kita ciptakan, kepoin yuk"
      />

      <section>
        <h2 class="section-title">Judul Lagu: Katakan Tidak</h2>
        <div class="content">
          <p>
            (Bait 1)<br />
            Di tengah dunia yang penuh warna,<br />
            Ada pilihan yang harus dijaga.<br />
            Kesehatan jiwa, harga diri kita,<br />
            Jangan sampai tergoda, oh saudara.
          </p>
        </div>
      </section>

      <section>
        <div class="content">
          <p>
            (Bait 2)<br />
            Cinta sejati tak perlu tergesa<br />
            Nikmati masa muda dengan bijaksana.<br />
            Free sex bukan jawaban dan rusak masa depan<br />
            Karena luka yang ditimbulkan takkan hilang.
          </p>
        </div>
      </section>

      <section>
        <div class="content">
          <p>
            (Reft)<br />
            Katakan tidak, katakan tidak,<br />
            Pada godaan yang merusak diri.<br />
            Katakan tidak, katakan kuat,<br />
            Pernikahan dini bukan untuk kita.
          </p>
        </div>
      </section>

      <section>
        <div class="content">
          <p>
            (Reft)<br />
            Katakan tidak, katakan tidak,<br />
            Pada tindakan yang merugikan diri.<br />
            Katakan tidak, dengan penuh keyakinan,<br />
            Karena kita pantas mendapat yang terbaik.
          </p>
        </div>
      </section>

      <!-- Audio Player -->
      <audio controls autoplay>
        <source src="/assets/musik.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
