---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="header-container">
    <h4>PROGRAM PIK-R</h4>
    <img src="assets/DSC_2634.JPG" alt="PIK R" class="header-image" />
  </div>
  <div class="stack gap-2 lg:gap-4">
    <h2>Nyenja</h2>
    <p>
      Merupakan program yang remaja banget karena kita bisa sharing bareng dan
      juga di akhir sesi kita bikin lagu loo
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <h2>Healing</h2>
    <p>
      Merupakan program atau kegiatan seperti senam bareng di lapangan, jalan
      sehat dan juga fun game loo
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <h2>Mo-No Bar</h2>
    <p>
      Merupakan program yang berisi kegiatan menonton bareng dan juga literasi
      bareng, seru banget loo
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <h2>Sharen</h2>
    <p>
      Merupakan program yang berisi kegiatan pembagian materi di kelas,
      pembagian tablet tambah darah, membuat mading kreatif yang informatif, dan
      juga web ini loo
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  .header-image {
    margin-top: 1rem;
    max-width: 100%;
    height: auto;
    border: 3px solid var(--gray-800); /* Adjust the width and color of the border */
    border-radius: 0.5rem; /* Adjust the radius for rounded corners */
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
